@font-face {
    font-family: "iconfont";
    src: url(./fonts/iconfont.ttf);
    font-weight: normal;
    font-style: normal;
}

.vw-icon {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    text-decoration: none;
}

.vw-icon-about:before {
    content: "\e772";
}

.vw-icon-about-fill:before {
    content: "\e771";
}

.vw-icon-add:before {
    content: "\e770";
}

.vw-icon-add-fill:before {
    content: "\e76f";
}

.vw-icon-addmessage:before {
    content: "\e76e";
}

.vw-icon-addressbook:before {
    content: "\e76d";
}

.vw-icon-agree:before {
    content: "\e76c";
}

.vw-icon-agree-fill:before {
    content: "\e76b";
}

.vw-icon-alarm:before {
    content: "\e76a";
}

.vw-icon-alarm-fill:before {
    content: "\e769";
}

.vw-icon-alipay:before {
    content: "\e768";
}

.vw-icon-android:before {
    content: "\e767";
}

.vw-icon-applets:before {
    content: "\e766";
}

.vw-icon-arrowdown:before {
    content: "\e765";
}

.vw-icon-arrowleft:before {
    content: "\e764";
}

.vw-icon-arrowright:before {
    content: "\e763";
}

.vw-icon-arrowup:before {
    content: "\e762";
}

.vw-icon-attestation:before {
    content: "\e761";
}

.vw-icon-back:before {
    content: "\e760";
}

.vw-icon-bag:before {
    content: "\e75f";
}

.vw-icon-bag-fill:before {
    content: "\e75e";
}

.vw-icon-balloon:before {
    content: "\e75d";
}

.vw-icon-bankcard:before {
    content: "\e75c";
}

.vw-icon-bankcard-fill:before {
    content: "\e75b";
}

.vw-icon-bottom:before {
    content: "\e75a";
}

.vw-icon-calendar:before {
    content: "\e759";
}

.vw-icon-camera:before {
    content: "\e758";
}

.vw-icon-camera-fill:before {
    content: "\e757";
}

.vw-icon-camera-add:before {
    content: "\e756";
}

.vw-icon-card:before {
    content: "\e755";
}

.vw-icon-card-fill:before {
    content: "\e754";
}

.vw-icon-cart:before {
    content: "\e753";
}

.vw-icon-cart-fill:before {
    content: "\e752";
}

.vw-icon-category:before {
    content: "\e751";
}

.vw-icon-category-fill:before {
    content: "\e750";
}

.vw-icon-check:before {
    content: "\e74f";
}

.vw-icon-circle:before {
    content: "\e74e";
}

.vw-icon-circle-fill:before {
    content: "\e74d";
}

.vw-icon-circle-selected:before {
    content: "\e74c";
}

.vw-icon-clock:before {
    content: "\e74b";
}

.vw-icon-clock-fill:before {
    content: "\e74a";
}

.vw-icon-close:before {
    content: "\e749";
}

.vw-icon-close-fill:before {
    content: "\e748";
}

.vw-icon-community:before {
    content: "\e747";
}

.vw-icon-community-fill:before {
    content: "\e746";
}

.vw-icon-computer:before {
    content: "\e745";
}

.vw-icon-computer-fill:before {
    content: "\e744";
}

.vw-icon-coupon:before {
    content: "\e743";
}

.vw-icon-delete:before {
    content: "\e742";
}

.vw-icon-deletekey:before {
    content: "\e741";
}

.vw-icon-dingtalk:before {
    content: "\e740";
}

.vw-icon-dissatisfied:before {
    content: "\e73f";
}

.vw-icon-down:before {
    content: "\e73e";
}

.vw-icon-download:before {
    content: "\e73d";
}

.vw-icon-edit:before {
    content: "\e73c";
}

.vw-icon-ellipsis:before {
    content: "\e73b";
}

.vw-icon-enlarge:before {
    content: "\e73a";
}

.vw-icon-evaluate:before {
    content: "\e739";
}

.vw-icon-exchange:before {
    content: "\e738";
}

.vw-icon-explain:before {
    content: "\e737";
}

.vw-icon-explain-fill:before {
    content: "\e736";
}

.vw-icon-explore:before {
    content: "\e735";
}

.vw-icon-explore-fill:before {
    content: "\e734";
}

.vw-icon-eye:before {
    content: "\e733";
}

.vw-icon-feedback:before {
    content: "\e732";
}

.vw-icon-fingerprint:before {
    content: "\e730";
}

.vw-icon-friendadd:before {
    content: "\e72f";
}

.vw-icon-friendadd-fill:before {
    content: "\e72e";
}

.vw-icon-gps:before {
    content: "\e72d";
}

.vw-icon-histogram:before {
    content: "\e72c";
}

.vw-icon-home:before {
    content: "\e72b";
}

.vw-icon-home-fill:before {
    content: "\e72a";
}

.vw-icon-house:before {
    content: "\e729";
}

.vw-icon-imface:before {
    content: "\e728";
}

.vw-icon-imkeyboard:before {
    content: "\e727";
}

.vw-icon-immore:before {
    content: "\e726";
}

.vw-icon-imvoice:before {
    content: "\e725";
}

.vw-icon-ios:before {
    content: "\e724";
}

.vw-icon-kefu:before {
    content: "\e723";
}

.vw-icon-label:before {
    content: "\e722";
}

.vw-icon-label-fill:before {
    content: "\e721";
}

.vw-icon-like:before {
    content: "\e720";
}

.vw-icon-like-fill:before {
    content: "\e71f";
}

.vw-icon-link:before {
    content: "\e71e";
}

.vw-icon-listview:before {
    content: "\e71d";
}

.vw-icon-loading:before {
    content: "\e71c";
}

.vw-icon-location:before {
    content: "\e71b";
}

.vw-icon-mail:before {
    content: "\e71a";
}

.vw-icon-mail-fill:before {
    content: "\e719";
}

.vw-icon-manage:before {
    content: "\e718";
}

.vw-icon-manage-fill:before {
    content: "\e717";
}

.vw-icon-member:before {
    content: "\e716";
}

.vw-icon-member-fill:before {
    content: "\e715";
}

.vw-icon-message:before {
    content: "\e714";
}

.vw-icon-message-fill:before {
    content: "\e713";
}

.vw-icon-mobile:before {
    content: "\e712";
}

.vw-icon-moments:before {
    content: "\e711";
}

.vw-icon-more:before {
    content: "\e710";
}

.vw-icon-more-fill:before {
    content: "\e70f";
}

.vw-icon-narrow:before {
    content: "\e70e";
}

.vw-icon-news:before {
    content: "\e70d";
}

.vw-icon-news-fill:before {
    content: "\e70c";
}

.vw-icon-nodata:before {
    content: "\e70b";
}

.vw-icon-notice:before {
    content: "\e699";
}

.vw-icon-notice-fill:before {
    content: "\e698";
}

.vw-icon-offline:before {
    content: "\e697";
}

.vw-icon-offline-fill:before {
    content: "\e696";
}

.vw-icon-oppose:before {
    content: "\e695";
}

.vw-icon-oppose-fill:before {
    content: "\e694";
}

.vw-icon-order:before {
    content: "\e693";
}

.vw-icon-partake:before {
    content: "\e692";
}

.vw-icon-people:before {
    content: "\e691";
}

.vw-icon-people-fill:before {
    content: "\e690";
}

.vw-icon-pic:before {
    content: "\e68f";
}

.vw-icon-pic-fill:before {
    content: "\e68e";
}

.vw-icon-picture:before {
    content: "\e68d";
}

.vw-icon-pie:before {
    content: "\e68c";
}

.vw-icon-play:before {
    content: "\e68b";
}

.vw-icon-plus:before {
    content: "\e689";
}

.vw-icon-polygonal:before {
    content: "\e688";
}

.vw-icon-position:before {
    content: "\e687";
}

.vw-icon-position-fill:before {
    content: "\e686";
}

.vw-icon-pwd:before {
    content: "\e685";
}

.vw-icon-qq:before {
    content: "\e684";
}

.vw-icon-qrcode:before {
    content: "\e682";
}

.vw-icon-redpacket:before {
    content: "\e681";
}

.vw-icon-redpacket-fill:before {
    content: "\e680";
}

.vw-icon-reduce:before {
    content: "\e67f";
}

.vw-icon-refresh:before {
    content: "\e67e";
}

.vw-icon-revoke:before {
    content: "\e67d";
}

.vw-icon-satisfied:before {
    content: "\e67c";
}

.vw-icon-screen:before {
    content: "\e67b";
}

.vw-icon-search:before {
    content: "\e67a";
}

.vw-icon-search-2:before {
    content: "\e679";
}

.vw-icon-send:before {
    content: "\e678";
}

.vw-icon-service:before {
    content: "\e677";
}

.vw-icon-service-fill:before {
    content: "\e676";
}

.vw-icon-setup:before {
    content: "\e675";
}

.vw-icon-setup-fill:before {
    content: "\e674";
}

.vw-icon-share:before {
    content: "\e673";
}

.vw-icon-share-fill:before {
    content: "\e672";
}

.vw-icon-shield:before {
    content: "\e671";
}

.vw-icon-shop:before {
    content: "\e670";
}

.vw-icon-shop-fill:before {
    content: "\e66f";
}

.vw-icon-shut:before {
    content: "\e66e";
}

.vw-icon-signin:before {
    content: "\e66d";
}

.vw-icon-sina:before {
    content: "\e66c";
}

.vw-icon-skin:before {
    content: "\e66b";
}

.vw-icon-soso:before {
    content: "\e669";
}

.vw-icon-square:before {
    content: "\e668";
}

.vw-icon-square-fill:before {
    content: "\e667";
}

.vw-icon-square-selected:before {
    content: "\e666";
}

.vw-icon-star:before {
    content: "\e665";
}

.vw-icon-star-fill:before {
    content: "\e664";
}

.vw-icon-strategy:before {
    content: "\e663";
}

.vw-icon-sweep:before {
    content: "\e662";
}

.vw-icon-time:before {
    content: "\e661";
}

.vw-icon-time-fill:before {
    content: "\e660";
}

.vw-icon-todown:before {
    content: "\e65f";
}

.vw-icon-toleft:before {
    content: "\e65e";
}

.vw-icon-tool:before {
    content: "\e65d";
}

.vw-icon-top:before {
    content: "\e65c";
}

.vw-icon-toright:before {
    content: "\e65b";
}

.vw-icon-towardsleft:before {
    content: "\e65a";
}

.vw-icon-towardsright:before {
    content: "\e659";
}

.vw-icon-towardsright-fill:before {
    content: "\e658";
}

.vw-icon-transport:before {
    content: "\e657";
}

.vw-icon-transport-fill:before {
    content: "\e656";
}

.vw-icon-turningdown:before {
    content: "\e654";
}

.vw-icon-turningleft:before {
    content: "\e653";
}

.vw-icon-turningright:before {
    content: "\e652";
}

.vw-icon-turningup:before {
    content: "\e651";
}

.vw-icon-unreceive:before {
    content: "\e650";
}

.vw-icon-unseen:before {
    content: "\e64f";
}

.vw-icon-up:before {
    content: "\e64e";
}

.vw-icon-upload:before {
    content: "\e64c";
}

.vw-icon-video:before {
    content: "\e64b";
}

.vw-icon-voice:before {
    content: "\e649";
}

.vw-icon-voice-fill:before {
    content: "\e648";
}

.vw-icon-voipphone:before {
    content: "\e647";
}

.vw-icon-wallet:before {
    content: "\e646";
}

.vw-icon-warning:before {
    content: "\e645";
}

.vw-icon-wealth:before {
    content: "\e644";
}

.vw-icon-wealth-fill:before {
    content: "\e643";
}

.vw-icon-weather:before {
    content: "\e642";
}

.vw-icon-wechat:before {
    content: "\e641";
}

.vw-icon-wifi:before {
    content: "\e640";
}