.vw-modal {
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 1200;
    min-height: 100px;

    overflow: auto;

    &.vw-modal-bottom {
        left: 0;
        bottom: 0;
        max-height: 80%;
    }
}