.vw-swipe-action {
    position: relative;
    overflow: hidden;
}

.vw-swipe-action_item_show {
    position: relative;
    z-index: 998;
}

.vw-swipe-action_item {
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.vw-swipe-action_content {
    white-space: nowrap;
    overflow: hidden;
}

.vw-swipe-action_button_right_group {
    position: absolute;
    right: -100%;
    top: 0;
    height: 100%;
    z-index: 1;
    width: 100%;
}

.vw-swipe-action_button_right_item {
    height: 100%;
    float: left;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.vw-swipe-action_mask {
    display: block;
    opacity: 0;
    position: fixed;
    z-index: 997;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}